.main-nav {
  margin-bottom: 20px;
}

.main-nav ul {
  border-radius: .35rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.main-nav  li {
  float: right;
}

.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.main-nav .logo{
  width: 5em;

}
.main-nav li:first-child a{
  margin-top: -10px;
  margin-bottom: -14px;
}
.main-nav li:first-child {
float:left;
}

.main-nav li a:hover {
  background-color: gray;
}
